div{
    display: inline-block;
    height: 200px;
    width: 150px;
    background-color: blue;
    margin: auto;
    border-radius: 10px;
    border-style: solid;
    border-color: gainsboro;
    border-width: 10px;
    cursor: pointer;

}